.debts__header {
  padding: 30px 0 40px 0;
}
.debts__header--blue {
  background: #003054;
}
.debts__input {
  width: 100%;
  max-width: 260px;
  height: 42px;
  line-height: 28px;
  border: none;
}
.debts__record--full {
  background: #EAEAEA;
}
.debts__data {
  margin-bottom: 30px;
}
.debts__button {
  width: 100%;
  max-width: 120px;
  height: 42px;
  padding: 2px;
  line-height: 28px;
  color: #FFF;
  border: none;
  cursor: pointer;
}
.debts__button--bg {
  background: #E40321;
  color: #FFF;
}
.debts__button--text {
  width: auto;
  height: auto;
  background: none;
  color: #E40321;
  padding: 0;
}
.debts__text {
  font-weight: normal;
}
.debts__text--uppercase {
  text-transform: uppercase;
}
.debts__text--tiny {
  font-size: 13px;
}
.debts__text--medium {
  font-size: 18px;
}
.debts__text--larg {
  font-size: 42px;
  line-height: 42px;
}
.debts__text--grey {
  color: #A09E9E;
}
.debts__text--white {
  color: #FFF;
}
.debts__text--red {
  color: #E40321;
}
.debts__text--blue {
  color: #003054;
}
