@import 'colors.less';

.debts {

    &__header {
        padding: 30px 0 40px 0;
        &--blue {
            background: @blue;
        }
    }

    &__input {
        width: 100%;
        max-width: 260px;
        height: 42px;
        line-height: 28px;
        border: none;
    }

    &__record {
        &--full {
            background: @lightGrey;
        }
    }

    &__data {
        margin-bottom: 30px;
    }

    &__button {
        width: 100%;
        max-width: 120px;
        height: 42px;
        padding: 2px;
        line-height: 28px;
        color: @white;
        border: none;
        cursor: pointer;
        &--bg {
            background: @red;
            color: @white;
        }

        &--text {
            width: auto;
            height: auto;
            background: none;
            color: @red;
            padding: 0;
        }
    }

    &__text {
        font-weight: normal;

        &--uppercase {
            text-transform: uppercase;
        }

        &--tiny {
            font-size: 13px;
        }

        &--medium {
            font-size: 18px;
        }

        &--larg {
            font-size: 42px;
            line-height: 42px;
        }

        &--grey {
            color: @grey;
        }

        &--white {
            color: @white;
        }

        &--red {
            color: @red;
        }

        &--blue {
            color: @blue;
        }

    }
}
